.card {
    height: 180px;
    position: relative;
    display: flex;
    width: 315px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    /* border: 1px solid #23406f; */
    border-radius: 7px;
    transition: transform 0.2s ease-in;
    box-shadow: 3px 3px 8px #9ea7b5;

    font-family: "Raleway", sans-serif;
}
.cards .card:hover{
    transform: scale(1.2);
}

.light {
    color: #7d7979;
    font-size: 11px;
}