.sidebar{
    width: 18vw;
    height: 100vh;
    border-radius: 0 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile{
    /* padding: 20px 30px; */
}
.feature{
    user-select: none;
    border-radius: 35px;
    padding: 15px 20px;
    display: flex;
    margin: 20px 6px;
    place-items: center;
}
.feature:hover{
    background-color: white;
}
.featureName{
    margin: 0 24px;
}
body{
    height: 100vh;
}